@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
  --mainRedColor: #e50914;
  --primeFontFamily: 'Rubik', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: gray;
}

/*************** ADS styling section **********************/

.imageBanner {
  background: url('../public/imgs/netflixa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 55rem;
  filter: blur(8px);

  /* position: absolute; */
}

.logoSection {
  /* background-color: black; */
  padding: 20px;
  position: absolute;
  top: 0;
}

.logoSection img {
  width: 11.3rem;
  margin-left: 1rem;
}
.sliderSection {
  display: block;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: black; */
  /* background: url('../public/imgs/netflixa.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -5;*/
}

.slider {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.sliderTitle {
  color: white;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px;
  font-family: var(--primeFontFamily);
  font-weight: 600;
  font-size: 40px;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.movieHolderClass {
  width: 20%;
  transition: 2s;
}
/* .movieHolderClass img {
  width: 800px;
  height: 500px;
} */

/* navigation styling */
.naviMmanual {
  position: absolute;
  width: 300px;
  margin-top: -100px;
  display: flex;
  justify-content: center;
}

.manualNaviBtn {
  border: 2px solid var(--mainRedColor);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manualNaviBtn:not(:last-child) {
  margin-right: 40px;
}

.manualNaviBtn:hover {
  background-color: var(--mainRedColor);
}

#radio1:checked ~ #first {
  margin-left: 0;
}

#radio2:checked ~ #first {
  margin-left: -20%;
}

#radio3:checked ~ #first {
  margin-left: -40%;
}
#radio4:checked ~ #first {
  margin-left: -60%;
}
#radio5:checked ~ #first {
  margin-left: -80%;
}
/* automatic navigation styling */

.autoNaviContainer {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.autoNaviContainer div {
  border: 2px solid blue;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.autoNaviContainer div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .autoNaviContainer .autoNavibtnOne {
  background-color: var(--mainRedColor);
}

#radio2:checked ~ .autoNaviContainer .autoNavibtnTwo {
  background-color: var(--mainRedColor);
}

#radio3:checked ~ .autoNaviContainer .autoNavibtnThree {
  background-color: var(--mainRedColor);
}

#radio4:checked ~ .autoNaviContainer .autoNavibtnFour {
  background-color: var(--mainRedColor);
}

#radio5:checked ~ .autoNaviContainer .autoNavibtnFive {
  background-color: var(--mainRedColor);
}

/*************** End ADS styling section **********************/

/* ************* Results Styling *************** */
.userPanelSection {
  background-color: black;
}
.searchTitle {
  color: white;
  padding: 4rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 69%;
  font-family: var(--primeFontFamily);
}

.searchHeader {
  width: 79%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-weight: 600;
  font-size: 40px;
}
.searchSubHeader {
  width: 40%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.searchUserInput {
  margin-bottom: 4rem;
}
.inputElement {
  font-size: 16px;
  padding: 10px 10px 0;
  width: 30%;
  border: solid 1px #8c8c8c;
  border-radius: 2px;
  display: block;
  appearance: none;
  color: #000;
  margin-left: auto;
  margin-right: auto;
  height: 4rem;
}

.resultsContainer {
  background-color: black;
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  /* box-shadow: 0 0 10px 5px gray; */
}

.resultMovieContainer {
  position: relative;
  margin: 1%;
  box-shadow: 0 0 25px -5px var(--mainRedColor);
}

.resultMovieContainer img {
  height: 30rem;
  width: 20rem;
  display: block;
}

.posterOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 30rem;
  width: 20rem;
  background: rgba(0, 0, 0, 0.891);
  color: white;
  font-family: var(--primeFontFamily);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.posterOverlay > * {
  transform: translateY(100px);
  transition: transform 0.3s;
}
.posterOverlay:hover {
  opacity: 1;
  cursor: pointer;
}

.posterOverlay:hover > * {
  transform: translateY(10px);
}

.movieName {
  font-size: 1.5rem;
  font-weight: 500;
}

.movieYear {
}
