* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*************** ADS styling section **********************/
#LOGO_SECTION_ID {
  background-color: black;
  padding: 20px;
}
#SLIDER_SECTION_ID {
  display: block;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.slider {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

#sliderTitleId {
  font-size: 3rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.movieHolderClass {
  width: 20%;
  transition: 2s;
}
movieHolderClass img {
  width: 800px;
  height: 500px;
}
/* navigation styling */
.naviMmanual {
  position: absolute;
  width: 300px;
  margin-top: -100px;
  display: flex;
  justify-content: center;
}

.manualNaviBtn {
  border: 2px solid red;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manualNaviBtn:not(:last-child) {
  margin-right: 40px;
}

.manualNaviBtn:hover {
  background-color: red;
}

#radio1:checked ~ #first {
  margin-left: 0;
}

#radio2:checked ~ #first {
  margin-left: -20%;
}

#radio3:checked ~ #first {
  margin-left: -40%;
}
#radio4:checked ~ #first {
  margin-left: -60%;
}
#radio5:checked ~ #first {
  margin-left: -80%;
}
/* automatic navigation styling */

.autoNaviContainer {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.autoNaviContainer div {
  border: 2px solid blue;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.autoNaviContainer div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .autoNaviContainer .autoNavibtnOne {
  background-color: red;
}

#radio2:checked ~ .autoNaviContainer .autoNavibtnTwo {
  background-color: red;
}

#radio3:checked ~ .autoNaviContainer .autoNavibtnThree {
  background-color: red;
}

#radio4:checked ~ .autoNaviContainer .autoNavibtnFour {
  background-color: red;
}

#radio5:checked ~ .autoNaviContainer .autoNavibtnFive {
  background-color: red;
}

/*************** End ADS styling section **********************/
